Test pec wa.json
{
  "name": "Test pec wa",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {
          "q": "ingpec",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        128,
        -112
      ],
      "id": "88c93c35-68eb-4a29-9333-bdbb40a308f5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rtDUa7IQPnAXutlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#all-n8n"
        },
        "text": "=Hai ricevuto un messaggio PEC da: {{ $json.From }} Con oggetto: {{ $json.Subject }} ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        336,
        -112
      ],
      "id": "92b2326d-f5c3-4fb9-96a9-e8a366dff219",
      "name": "Send a message",
      "webhookId": "a5acd178-3fc5-4044-b9de-eabbfed02310",
      "credentials": {
        "slackApi": {
          "id": "4dlx3nhLcmR80taJ",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -112
      ],
      "id": "8f453959-f115-4480-b4e2-7185328db3e5",
      "name": "Mark a message as read",
      "webhookId": "5f2d4cc5-d562-4d31-8225-3d465745b0ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "rtDUa7IQPnAXutlX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0564d866-bfc4-48a3-b091-51223b9d41f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6775653f12dfbbae3fa74f2033c99bcc87973d157dc6c51fc1d74d8d63a2187"
  },
  "id": "bDULW2ZhabjOtlbsxxgCY",
  "tags": []
}