Test pec wa.json
{
  "name": "Test pec wa",
  "nodes": [
    {
      "parameters": {
        "path": "b0d829e1-def1-477b-807d-db284df5d402",
        "options": {
          "responseData": "{   \"status\": \"ok\" }",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        -400
      ],
      "id": "edd8d738-7730-42dc-9dbb-0d3e3514a34d",
      "name": "Test pec wa Hook",
      "webhookId": "b0d829e1-def1-477b-807d-db284df5d402",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {
          "q": "ingpec",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        -176
      ],
      "id": "6e65ec94-da9a-4def-a303-49d45acd139d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Srqa1GQ94T3gBvDf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#all-n8n"
        },
        "text": "=Hai ricevuto un messaggio PEC da: {{ $json.From }} Con oggetto: {{ $json.Subject }} ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        432,
        -176
      ],
      "id": "2fe40f6b-57b4-4ad3-8f87-dcbd78fcc18d",
      "name": "Send a message",
      "webhookId": "a5acd178-3fc5-4044-b9de-eabbfed02310",
      "credentials": {
        "slackApi": {
          "id": "gDjXmK95e6L4Ar6k",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -176
      ],
      "id": "09ea857f-377a-447d-a310-0a0376179924",
      "name": "Mark a message as read",
      "webhookId": "5f2d4cc5-d562-4d31-8225-3d465745b0ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "Srqa1GQ94T3gBvDf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Test pec wa Hook": {
      "main": [
        []
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2beb73ea-fd00-4873-87a8-6f3935976808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07c9ca20cd450a926dfb5f41fd570a2e72cac9cd0cfb4fbcae8acdee70032c85"
  },
  "id": "8n6UktkYJWwnbrW7",
  "tags": []
}